<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <h1>Cadastra Filme</h1>



    <form action="/cadastrar" method="post">

    <label>Nome do filme: </label>
    <input type="text" name="nome">

    <label>Genero: </label>
    <input type="text" name="genero">

    <label>Link imagem </label>
    <input type="text" name="imagem" >

    <label>Duração: </label>
    <input type="text" name="duracao">

    <label>Lançamento</l>: </label>
    <input type="text" name="dataLancamento">

    <label>Sinopse:</label>
    <textarea name="sinopse" id="" cols="30" rows="10"></textarea>


    <button>Cadastrar</button>

    </form>
    </body>
</html>